language: python
python:
  - "3.6"

services:
  - docker

before_script:
  - chmod +x entrypoint.sh
  - touch .env
  - touch .env.db
  - pip install docker-compose

script:
  - DEBUG=1
  - P8_DJANGO_KEY=change_me
  - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
  - SQL_ENGINE=django.db.backends.postgresql
  - SQL_DATABASE=hello_django
  - SQL_USER=hello_django
  - SQL_PASSWORD=hello_django
  - SQL_HOST=db
  - SQL_PORT=5432
  - DATABASE=postgres
  - POSTGRES_USER=hello_django
  - POSTGRES_PASSWORD=hello_django
  - POSTGRES_DB=hello_django
  - docker-compose run web "python manage.py test"